.text-platzi{
    color: #97c93e !important;
}
#footer{
    background: linear-gradient(90deg, #1c3643 0, #273b47 25%, #1e5372);
    padding: 4px 0px 4px 0px;
}

#header img{
    width: 80px;
}

a{
    color: white;
}